body{
    background-image: url(stardust.jpg);
}
h1{
    color: black;
    text-align: center;
    font-size: 40px;
}
.parastyle{
    text-align: center;
    font-style: normal;
    font-size: 20px;
    color: black;
}
.namep{
    font-size: 25px;
}
.teanh{
    font-size: 35px;
}

.column {
  float: left;
  width: 25%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}


p{
    font-style: poppins;
    color: black;
    margin-top:20px;
}